[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

[Service]
Type=forking
User=gobbi

ExecStartPre=/bin/sh -c '/usr/bin/vncserver -kill :1 > /dev/null 2>&1 || :'
ExecStart=/usr/bin/vncserver -geometry 1800x1000 :1
ExecStop=/usr/bin/vncserver -kill :1

[Install]
WantedBy=multi-user.target